.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes blink {
  0% {
    border-color: #FF0000;
  } /* Red */
  20% {
    border-color: #00FF00;
  } /* Green */
  40% {
    border-color: #0000FF;
  } /* Blue */
  60% {
    border-color: #FFFF00;
  } /* Yellow */
  80% {
    border-color: #FF00FF;
  } /* Magenta */
  100% {
    border-color: #FF0000;
  } /* Red again to loop */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
